        body {background: #ffffff;}
        #write_wrap {width: 70%; margin: 0 auto; background: #ffffff;}
        #write_container h1 {text-align: center; border-bottom: 2px solid #e1e3e4; padding-top: 80px; padding-bottom: 50px; font-size: 26px;}
        #write_box div label {display: inline-block; width: 30%;}
        #write_box div input {display: inline-block; width: 69%; height: 30px; padding-left: 10px;}
        #write_box div input:focus {outline: 0;}
        #write_box div #title {margin-top: 30px;}
        #write_box div #writer {margin-top: 20px;}
        #write_box div:nth-child(3) {position: relative;}
        #write_box div:nth-child(3) label {position: relative; top: -280px; left: 0;}
        #write_box div textarea {display: inline-block; width: 69%; margin-top: 20px; overflow: hidden; padding: 10px;}
        #write_box div textarea:focus {outline: 0;}
        
        #finish_box {text-align: center; margin-top: 80px; margin-bottom: 150px;}
        #finish_box input[name="finish"] {border: 0; width: 15%; padding: 8px 0px; font-size: 16px; background: #a3171b; color: #fff; cursor: pointer; margin-right: 10px;}
        #finish_box input[name="finish"]:focus {outline: none;}
        #finish_box input[name="cancel"] {border: 0; width: 15%; padding: 8px 0px; font-size: 16px; cursor: pointer;}
        #finish_box input[name="cancel"]:focus {outline: none;}