        body {background: #ffffff;}
        #content_wrap {width: 70%; margin: 0 auto; background: #ffffff;}
        #content_wrap h1 {text-align: center;  padding-top: 80px; padding-bottom: 50px; font-size: 26px;}
        #content_layout {}
        #content_layout ul {border-top: 1px solid #ddd;}
        #content_layout ul:nth-child(4) {border-bottom: 1px solid #ddd;}
        #content_layout ul:nth-child(4) li {height: 150px;}
        #content_layout li {padding: 10px 0px;}
/*        #content_layout li:nth-child(1) {border-right: 1px solid #a6a6a6;}*/

        .title {display: inline-block; width: 20%; text-align: center; background: #f5f5f5;}
        .content {display: inline-block; width: 79%; text-align: left;}
        
        #finish_box {position: relative; margin-top: 80px; margin-bottom: 150px;}
        #finish_box input[type="button"] {border: 0; width: 15%; padding: 8px 0px; font-size: 16px;}
        #finish_box input[name="go_list"] {position: relative; left: 0; top: 0; cursor: pointer; margin-right: 10px;}
        #finish_box input[name="go_list"]:focus {outline: none;}
        #finish_box input[name="delete"] {position: absolute; right: 0; top: 0; background: #525252; color: #fff; cursor: pointer;}
        #finish_box input[name="delete"]:focus {outline: none;}