        body {background: #e1e3e4; width: 100%; height: 100%;}
        #left_nav li:nth-child(2) {color: #a6a6a6;}
        #menu {width: 80%; margin: 0 auto; transition: all 0.5s;}
        #menu_title h1 {text-align: center; padding-top: 7vh; font-size: 34px;}
        #menu_title div {padding-top: 1vh; padding-bottom: 5vh; width: 40px; margin: 0 auto;}
        #menu_title div img {width: 100%;}

        #menu_box {width: 100%; margin-bottom: 200px;}
        #menu_box td {position: relative;}
        #menu_box td:nth-child(1) {padding-right: 25px; padding-bottom: 50px; position: relative;}
        #menu_box td:nth-child(2) {padding-left: 25px; padding-bottom: 50px; position: relative;}
        #menu_box td .menu_img {cursor: pointer;}
        #menu_box td .menu_img .menu_pc {vertical-align: bottom; display: block; margin: 0 auto; width: 100%;}
        #menu_box td .menu_img .menu_m {display: none;}

        #menu_box td .menu_txt {background: #fff; width: 100%; margin: 0 auto; height: 80px; padding: 15px; position: relative;}
        #menu_box td .menu_txt strong {font-size: 16px; position: relative; left: 0; top: 0;}
        #menu_box td .menu_txt div:nth-child(3) {position: absolute; right: 35px; top: 15px; width: 12px;}
        #menu_box td .menu_txt div:nth-child(2) {position: absolute; right: 15px; top: 15px; width: 12px;}
        #menu_box td .menu_txt div img {width: 100%;}
        #menu_box td .menu_txt p {font-size: 16px; position: absolute; right: 15px; bottom: 15px; display: inline-block;}
        
        .hover_wrap_menu {background: rgba(0,0,0,0.8); position: absolute; top: 0; left: 0; z-index: 10; width: calc(100% - 25px); height: calc(100% - 50px); cursor: pointer;}
        .hover_wrap_2n_menu {position: absolute; top: 0; left: 25px;}

        .hover_wrap_menu .hover_data_menu {color: #e1e3e4; padding: 0 20px; line-height: 1.5; font-size: 14px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center;}
        .hover_wrap_menu .hover_origin_menu {color: #a6a6a6; margin-top: 25px; border: 1px solid #a6a6a6; display: inline-block; padding: 3px; font-weight: bold;}


        @media screen and (min-width:1280px) and (max-width:1599px) {
            #menu_box td .menu_txt {height: 70px;}
            #menu_box td .menu_txt strong {font-size: 14px;}
            #menu_box td .menu_txt p {font-size: 14px;}
            .hover_wrap_menu .hover_data_menu {font-size: 12px;}
        }

        @media screen and (min-width:1024px) and (max-width:1279px) {
            #menu_title h1 {text-align: center; padding-top: 7vh; font-size: 28px;}
            #menu_title div {padding-top: 1vh; padding-bottom: 5vh; width: 34px; margin: 0 auto;}
            #menu_box {width: 100%; margin-bottom: 150px;}
            #menu_box td:nth-child(1) {padding-right: 20px; padding-bottom: 40px; position: relative;}
            #menu_box td:nth-child(2) {padding-left: 20px; padding-bottom: 40px; position: relative;}
            #menu_box td .menu_img .menu_pc {vertical-align: bottom; display: block; margin: 0 auto; width: 100%;}
            
            #menu_box td .menu_txt {background: #fff; width: 100%; margin: 0 auto; height: 60px; padding: 10px 15px; position: relative;}
            #menu_box td .menu_txt strong {font-size: 13px; position: relative; left: 0; top: 0;}
            #menu_box td .menu_txt div:nth-child(3) {position: absolute; right: 30px; top: 10px; width: 10px;}
            #menu_box td .menu_txt div:nth-child(2) {position: absolute; right: 15px; top: 10px; width: 10px;}
            #menu_box td .menu_txt div img {width: 100%;}
            #menu_box td .menu_txt p {font-size: 13px; position: absolute; right: 15px; bottom: 10px; display: inline-block;}
            
            .hover_wrap_menu {background: rgba(0,0,0,0.8); position: absolute; top: 0px; left: 0px; z-index: 10; width: calc(100% - 20px); height: calc(100% - 40px); cursor: pointer;}
            .hover_wrap_2n_menu {position: absolute; top: 0; left: 20px;}
            .hover_wrap_menu .hover_data_menu {color: #e1e3e4; padding: 0 20px; line-height: 1.5; font-size: 11px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center;}
            .hover_wrap_menu .hover_origin_menu {color: #a6a6a6; margin-top: 20px; border: 1px solid #a6a6a6; display: inline-block; padding: 3px; font-weight: bold;}
        }

        @media screen and (min-width:768px) and (max-width:1023px) {
            #menu {width: 90%; margin: 0 auto;}
            #menu_title h1 {text-align: center; padding-top: 7vh; font-size: 25px;}
            #menu_title div {padding-top: 1vh; padding-bottom: 3vh; width: 30px; margin: 0 auto;}
            #menu_box {width: 100%; margin-bottom: 150px;}
            #menu_box td:nth-child(1) {padding-right: 20px; padding-bottom: 40px; position: relative;}
            #menu_box td:nth-child(2) {padding-left: 20px; padding-bottom: 40px; position: relative;}
            #menu_box td .menu_img .menu_pc {vertical-align: bottom; display: block; margin: 0 auto; width: 100%;}
            
            #menu_box td .menu_txt {background: #fff; width: 100%; margin: 0 auto; height: 50px; padding: 7px 12px; position: relative;}
            #menu_box td .menu_txt strong {font-size: 12px; position: relative; left: 0; top: 0;}
            #menu_box td .menu_txt div:nth-child(3) {position: absolute; right: 30px; top: 7px; width: 10px;}
            #menu_box td .menu_txt div:nth-child(2) {position: absolute; right: 12px; top: 7px; width: 10px;}
            #menu_box td .menu_txt div img {width: 100%;}
            #menu_box td .menu_txt p {font-size: 12px; position: absolute; right: 12px; bottom: 7px; display: inline-block;}
            
            .hover_wrap_menu {background: rgba(0,0,0,0.8); position: absolute; top: 0px; left: 0px; z-index: 10; width: calc(100% - 20px); height: calc(100% - 40px); cursor: pointer;}
            .hover_wrap_2n_menu {position: absolute; top: 0; left: 20px;}
            .hover_wrap_menu .hover_data_menu {color: #e1e3e4; padding: 0 20px; line-height: 1.5; font-size: 11px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center;}
            .hover_wrap_menu .hover_origin_menu {color: #a6a6a6; margin-top: 15px; border: 1px solid #a6a6a6; display: inline-block; padding: 3px; font-weight: bold;}
        }

        @media screen and (min-width:640px) and (max-width:767px) {
            #menu_title h1 {font-size: 22px;}
            #menu_title div {width: 27px;}
            #menu_box {width: 100%; margin-bottom: 150px;}
            #menu_box td:nth-child(1) {padding-right: 0px; padding-bottom: 50px; position: relative; display:block;}
            #menu_box td:nth-child(2) {padding-left: 0px; padding-bottom: 50px; position: relative; display:block;}
            #menu_box td .menu_img .menu_pc {display: none;}
            #menu_box td .menu_img .menu_m {vertical-align: bottom; display: block; margin: 0 auto; width: 100%;}
            
            #menu_box td .menu_txt {background: #fff; width: 100%; margin: 0 auto; height: 70px; padding: 12px; position: relative;}
            #menu_box td .menu_txt strong {font-size: 15px; position: relative; left: 0; top: 0;}
            #menu_box td .menu_txt div:nth-child(3) {position: absolute; right: 30px; top: 12px; width: 11px;}
            #menu_box td .menu_txt div:nth-child(2) {position: absolute; right: 12px; top: 12px; width: 11px;}
            #menu_box td .menu_txt div img {width: 100%;}
            #menu_box td .menu_txt p {font-size: 14px; position: absolute; right: 12px; bottom: 12px; display: inline-block;}
            
            .hover_wrap_menu {background: rgba(0,0,0,0.8); position: absolute; top: 0px; left: 0; z-index: 10; width:100%; height: calc(100% - 50px); cursor: pointer;}
            .hover_wrap_2n_menu {position: absolute; top: 0; left: 0px;}
            .hover_wrap_menu .hover_data_menu {color: #e1e3e4; text-align: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; padding: 20px; line-height: 1.5; font-size: 12px;}
            .hover_wrap_menu .hover_origin_menu {color: #a6a6a6; margin-top: 15px; border: 1px solid #a6a6a6; display: inline-block; padding: 3px; font-weight: bold;}
}

        @media screen and (min-width:480px) and (max-width:639px) {
            #menu_title h1 {font-size: 22px;}
            #menu_title div {width: 27px;}
            #menu_box {width: 100%; margin-bottom: 150px;}
            #menu_box td:nth-child(1) {padding-right: 0px; padding-bottom: 50px; position: relative; display:block;}
            #menu_box td:nth-child(2) {padding-left: 0px; padding-bottom: 50px; position: relative; display:block;}
            #menu_box td .menu_img .menu_pc {display: none;}
            #menu_box td .menu_img .menu_m {vertical-align: bottom; display: block; margin: 0 auto; width: 100%;}
            
            #menu_box td .menu_txt {background: #fff; width: 100%; margin: 0 auto; height: 70px; padding: 12px; position: relative;}
            #menu_box td .menu_txt strong {font-size: 16px; position: relative; left: 0; top: 0;}
            #menu_box td .menu_txt div:nth-child(3) {position: absolute; right: 30px; top: 12px; width: 11px;}
            #menu_box td .menu_txt div:nth-child(2) {position: absolute; right: 12px; top: 12px; width: 11px;}
            #menu_box td .menu_txt div img {width: 100%;}
            #menu_box td .menu_txt p {font-size: 14px; position: absolute; right: 12px; bottom: 12px; display: inline-block;}
            
            .hover_wrap_menu {background: rgba(0,0,0,0.8); position: absolute; top: 0px; left: 0; z-index: 10; width:100%; height: calc(100% - 50px); cursor: pointer;}
            .hover_wrap_2n_menu {position: absolute; top: 0; left: 0px;}
            .hover_wrap_menu .hover_data_menu {color: #e1e3e4; text-align: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; padding: 20px; line-height: 1.5; font-size: 12px;}
            .hover_wrap_menu .hover_origin_menu {color: #a6a6a6; margin-top: 15px; border: 1px solid #a6a6a6; display: inline-block; padding: 3px; font-weight: bold;}
        }

        @media screen and (max-width:479px) {
            #menu_title h1 {font-size: 22px;}
            #menu_title div {width: 27px;}
            #menu_box {width: 100%; margin-bottom: 150px;}
            #menu_box td:nth-child(1) {padding-right: 0px; padding-bottom: 50px; position: relative; display:block;}
            #menu_box td:nth-child(2) {padding-left: 0px; padding-bottom: 50px; position: relative; display:block;}
            #menu_box td .menu_img .menu_pc {display: none;}
            #menu_box td .menu_img .menu_m {vertical-align: bottom; display: block; margin: 0 auto; width: 100%;}
            
            #menu_box td .menu_txt {background: #fff; width: 100%; margin: 0 auto; height: 70px; padding: 12px; position: relative;}
            #menu_box td .menu_txt strong {font-size: 16px; position: relative; left: 0; top: 0;}
            #menu_box td .menu_txt div:nth-child(3) {position: absolute; right: 30px; top: 12px; width: 11px;}
            #menu_box td .menu_txt div:nth-child(2) {position: absolute; right: 12px; top: 12px; width: 11px;}
            #menu_box td .menu_txt div img {width: 100%;}
            #menu_box td .menu_txt p {font-size: 14px; position: absolute; right: 12px; bottom: 12px; display: inline-block;}
            
            .hover_wrap_menu {background: rgba(0,0,0,0.8); position: absolute; top: 0px; left: 0; z-index: 10; width:100%; height: calc(100% - 50px); cursor: pointer;}
            .hover_wrap_2n_menu {position: absolute; top: 0; left: 0px;}
            .hover_wrap_menu .hover_data_menu {color: #e1e3e4; text-align: center; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; padding: 20px; line-height: 1.5; font-size: 12px;}
            .hover_wrap_menu .hover_origin_menu {color: #a6a6a6; margin-top: 15px; border: 1px solid #a6a6a6; display: inline-block; padding: 3px; font-weight: bold;}
}